In [2]:
help("print")

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
### create function to add two numbers

def add (x,y):
    z=x+y
    return z

In [6]:
add (243,34)

277

In [8]:
add("data", "science")

'datascience'

In [9]:
### create function to add two numbers

def add (x,y):
    z=x+y
    return z

In [ ]:
def add(x, y):
    if isinstance(x, (int, float)) and isinstance(y, (int, float)):
        return x + y
    else:
        raise TypeError("Both inputs must be numbers (int or float)")

variadic function
----------variang arguments length
---------- variable length arguments

In [11]:
def add4(*args):
    print(args)
    print(type(args))

In [15]:
add4(12,23,34,56)

(12, 23, 34, 56)
<class 'tuple'>

In [21]:
def add4(*args):
    add=0
    for i in args:
        add=add+i
    return add

In [23]:
add4(12,13,43,54)

122

In [24]:
def total_bill(*args):
    total    = 0
    bill_before_tax    = 0
    for product , quantity , price in args:
        subtotal    = price*quantity
        print(f'sub total of {product} -- > {subtotal}')

        bill_before_tax    = subtotal+ bill_before_tax
        tax    = 0.18
        taxable_amount    = bill_before_tax*0.18

        total    = taxable_amount +bill_before_tax
    print(f'bill_before_tax -- >{bill_before_tax}')
    print(f'taxable  amount -- > { taxable_amount}' )
    print(f'total_amount --> {total}')